# Gradle
build
.gradle

# Java gitignore #
*.class
.class
.log

# maven gitignore#
target/

.svn/

# intelliJ.gitignore #
.idea
*.iml
*.ipr
*.iws

# Eclipse git ignore#
*.pydevproject
.project
.metadata
bin/**
*/bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.orig
*.swp
*~.nib
.classpath
.settings/
.loadpath
.fileTable*
.cache

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#log
*.log
*.log.*

# Windows Thumbs.db
*.db

# OSX
.DS_Store

temp/

